<div class="col-sm-8">
	<div ng-show="ContestLoading">
		<div class="progress">
			<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
		</div>
	</div>
	<div ng-show="!ContestLoading" for="contest">
		<div for="present" ng-show="PresentContest.length > 0">
			<h3>Contest đang diễn ra</h3>
			<div class="table-responsive">
				<table class="table table-default table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th class="text-center">Đã bắt đầu</th>
							<th class="text-center">Tên Contest</th>
							<th class="text-center">Thời lượng</th>
							<th class="text-center">Người ra đề</th>
							<th class="text-center">Kết thúc</th>
							<th class="text-center"></th>
						</tr>
					</thead>
					<tbody ng-show="PresentContest.length > 0">
						<tr ng-repeat="contest in PresentContest">
							<td class="text-center"><a style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}">{{ moment(contest.startTime).from(moment()) }}</a></td>
							<td class="text-center">
								<a target="_blank" href="{{contest.facebook_url}}" ng-if="contest.facebook_url != null && contest.facebook_url != undefined">
									<strong>{{ contest.name }}</strong>
								</a>
								<span ng-if="contest.facebook_url == null || contest.facebook_url == undefined">
									<strong>{{ contest.name }}</strong>
								</span>
							</td>
							<td class="text-center">{{ contest.duration }} tiếng</td>
							<td class="text-center writters">
								<div ng-repeat="writter in contest.wrrts">
									<a class="{{ colors[writter.color] }}" href="user/{{writter.username}}">{{writter.username}}</a>
								</div>
							</td>
							<td title="{{ contest.endTime }}" class="text-center"><strong>{{ moment(contest.endTime).from(moment()) }}</strong></td>
							<td class="text-center">
								<div ng-show="!logined || user.role !== 'admin'">
									<a ng-show="contest.isRegistered" style="text-decoration: none;" href="./autologin/{{ contest.id }}">Tham gia</a>
									<a ng-show="!contest.isRegistered" style="text-decoration: none; padding-left: 2px; padding-right: 2px; padding-top: 2px; padding-bottom: 2px; color: #ffffff; background-color: #b91f1f;" href="/register/new/{{contest.id}}">
										<!-- {{ contest.reging ? 'Đang đăng ký...' : 'Đăng ký' }} -->
										Đăng ký
									</a>

								</div>
								<div ng-show="logined && user.role == 'admin'">
									<a style="text-decoration: none;" href="admin/edit/contest/{{ contest.id }}">Sửa</a>,
									<a ng-show="contest.isRegistered" style="text-decoration: none;" href="./autologin/{{ contest.id }}">Tham gia</a>
									<a ng-show="!contest.isRegistered" style="text-decoration: none; padding-left: 2px; padding-right: 2px; padding-top: 2px; padding-bottom: 2px; color: #ffffff; background-color: #b91f1f;" href="/register/new/{{contest.id}}">
										<!-- {{ contest.reging ? 'Đang đăng ký...' : 'Đăng ký' }} -->
										Đăng ký
									</a>

								</div>
								<div for="cntReg">
									<hr>
									<a style="text-decoration: none;" href="https://code.freecontest.xyz/ranking/" target="_blank">Ranking</a>,
									<a href="register/show/{{contest.id}}">
										<strong><i class="fa fa-users"></i> x{{ contest.cntReg }}</strong>
									</a>
								</div>
							</td>
						</tr>
					</tbody>
					<tbody ng-show="PresentContest.length == 0">
						<tr>
							<td class="text-center" colspan="6"><i>Không có contest nào đang diễn ra</i></td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
		</div>

		<div for="upcoming">
			<h3>Contest sắp tới</h3>
			<div class="table-responsive">
				<table class="table table-default table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th class="text-center">Bắt đầu</th>
							<th class="text-center">Tên Contest</th>
							<th class="text-center">Thời lượng</th>
							<th class="text-center">Người ra đề</th>
							<th class="text-center"></th>
						</tr>
					</thead>
					<tbody ng-show="UpcomingContests.length > 0">
						<tr ng-repeat="contest in UpcomingContests">
							<td title="{{ contest.startTime }}" class="text-center">
								<a uib-tooltip="{{ moment(contest.startTime).from(moment()) }}" tooltip-placement="left" style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}"> {{ moment(contest.startTime).format('llll') }}</a>
							</td>
							<td class="text-center">
								<a target="_blank" href="{{contest.facebook_url}}" ng-if="contest.facebook_url != null && contest.facebook_url != undefined">
									<strong>{{ contest.name }}</strong>
								</a>
								<span ng-if="contest.facebook_url == null || contest.facebook_url == undefined">
									<strong>{{ contest.name }}</strong>
								</span>
							</td>
							<td class="text-center">{{ contest.duration }} tiếng</td>
							<td class="text-center writters">
								<div ng-repeat="writter in contest.wrrts">
									<a class="{{ colors[writter.color] }}" href="user/{{writter.username}}">{{writter.username}}</a>
								</div>
							</td>
							<td class="text-center">
								<div ng-show="!logined || user.role !== 'admin'">
									<a ng-show="!contest.isRegistered" style="text-decoration: none; padding-left: 2px; padding-right: 2px; padding-top: 2px; padding-bottom: 2px; color: #ffffff; background-color: #b91f1f;" href="/register/new/{{contest.id}}">
										<!-- {{ contest.reging ? 'Đang đăng ký...' : 'Đăng ký' }} -->
										Đăng ký
									</a>
									<span style="font-weight: bold; color: green;" ng-show="contest.isRegistered">
										Đã đăng ký
									</span>
									<!-- <div ng-show="contest.isRegistered">
										<button ng-click="showTmpPassword(contest)">Hiện password</button>
									</div> -->
								</div>
								<div ng-show="logined && user.role == 'admin'">
									<a style="text-decoration: none;" href="admin/edit/contest/{{ contest.id }}">Sửa</a>,
									<a ng-show="!contest.isRegistered" style="text-decoration: none; padding-left: 2px; padding-right: 2px; padding-top: 2px; padding-bottom: 2px; color: #ffffff; background-color: #b91f1f;" href="/register/new/{{contest.id}}">
										<!-- {{ contest.reging ? 'Đang đăng ký...' : 'Đăng ký' }} -->
										Đăng ký
									</a>
									<span style="font-weight: bold; color: green;" ng-show="contest.isRegistered">
										Đã đăng ký
									</span>
									<!-- <div ng-show="contest.isRegistered">
										<button ng-click="showTmpPassword(contest)">Hiện password</button>
									</div> -->
								</div>
								<div for="cntReg">
									<a href="register/show/{{contest.id}}">
										<strong><i class="fa fa-users"></i> x{{ contest.cntReg }}</strong>
									</a>
								</div>
							</td>
						</tr>
					</tbody>
					<tbody ng-show="UpcomingContests.length == 0">
						<tr>
							<td class="text-center" colspan="6"><i>Không có contest nào sắp tới</i></td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
		</div>

		<div for="recent">
			<h3>Contest đã qua</h3>
			<div class="table-responsive">
				<table class="table table-default table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th class="text-center">Bắt đầu</th>
							<th class="text-center">Tên Contest</th>
							<th class="text-center">Thời lượng</th>
							<th class="text-center">Người ra đề</th>
							<th class="text-center"></th>
						</tr>
					</thead>
					<tbody ng-show="RecentContests.length > 0">
						<tr ng-repeat="contest in RecentContests">
							<td title="{{ contest.startTime }}" class="text-center"><a uib-tooltip="{{ moment(contest.startTime).from(moment()) }}" tooltip-placement="left" style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}"> {{ moment(contest.startTime).format('llll') }}</a></td>
							<td class="text-center">
								<a target="_blank" href="{{contest.facebook_url}}" ng-if="contest.facebook_url != null && contest.facebook_url != undefined">
									<strong>{{ contest.name }}</strong>
								</a>
								<span ng-if="contest.facebook_url == null || contest.facebook_url == undefined">
									<strong>{{ contest.name }}</strong>
								</span>
							</td>
							<td class="text-center">{{ contest.duration }} tiếng</td>
							<td class="text-center writters">
								<div ng-repeat="writter in contest.wrrts">
									<a class="{{ colors[writter.color] }}" href="user/{{writter.username}}">{{writter.username}}</a>
								</div>
							</td>
							<td class="text-center">
								<div for="practising" ng-show="contest.practice_url != null && contest.practice_url != undefined">
									<a target="_blank" style="text-decoration: none;" href="{{ contest.practice_url }}"><i class="fa fa-trophy" aria-hidden="true"></i> Luyện tập</a>
									<hr>
								</div>
								<div for="cts-information">
									<a href="register/show/{{contest.id}}"><strong><i class="fa fa-users"></i> x{{ contest.cntReg }}</strong></a>
								</div>
								<div ng-show="logined && user.role == 'admin'">
									<a style="text-decoration: none;" href="admin/edit/contest/{{ contest.id }}">Sửa</a>
								</div>
							</td>
						</tr>
					</tbody>
					<tbody ng-show="RecentContests.length == 0">
						<tr>
							<td class="text-center" colspan="5"><i>Không có contest nào đã qua</i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">→ Contest đã đăng ký</h3>
		</div>
		<div class="panel-body">
			<div ng-show="ContestLoading">
				<div class="progress">
					<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
				</div>
			</div>
			<div ng-show="!ContestLoading">
				<div class="table-responsive">
					<table style="font-size: 13px;" class="table table-default table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th class="text-left">Bắt đầu</th>
								<th class="text-left">Tên Contest</th>
							</tr>
						</thead>
						<tbody ng-show="RegisteredContests.length > 0">
							<tr ng-repeat="contest in RegisteredContests">
								<td class="text-left"><a uib-tooltip="{{ moment(contest.startTime).from(moment()) }}" tooltip-placement="left" style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}"> {{ moment(contest.startTime).format('llll') }}</a></td>
								<td class="text-left">
										<a target="_blank" href="{{contest.facebook_url}}" ng-if="contest.facebook_url != null && contest.facebook_url != undefined">
												{{ contest.name }}
											</a>
											<span ng-if="contest.facebook_url == null || contest.facebook_url == undefined">
												{{ contest.name }}
											</span>
											<small>({{ contest.present ? 'Đang diễn ra' : (contest.upcoming ? 'Sắp diễn ra' : 'Đã diễn ra') }})</small>
								</td>
							</tr>
						</tbody>
						<tbody ng-show="RegisteredContests.length == 0">
							<tr>
								<td class="text-center" colspan="2">
									<i ng-show="logined">Bạn chưa đăng ký contest nào</i>
									<i ng-show="!logined">Bạn chưa đăng nhập vào tài khoản</i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
