<div class="col-sm-8 col-sm-offset-2">
	<h2>Những người đã đăng ký </h2>

	<table class="table table-default table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th class="text-center">#</th>
				<th class="text-center">Tên</th>
				<th class="text-center">Đăng ký lúc</th>
			</tr>
		</thead>
		<tbody ng-show="users.length > 0">
			<tr ng-repeat="User in users">
				<td class="text-center">{{ User.stt }}</td>
				<td class="text-center"><a class="{{ colors[User.color] }}" href="user/{{User.username}}">{{User.username}}</a></td>
				<td class="text-center">
					<!-- <a uib-tooltip="{{ moment(User.createdAt).format('llll') }}" tooltip-placement="left" style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ User.createdAt }}">{{ moment(User.createdAt).from(moment()) }}</a> -->
					<span uib-tooltip="{{ moment(User.createdAt).format('llll') }}" tooltip-placement="left">{{ moment(User.createdAt).from(moment()) }}</span>
				</td>
			</tr>
		</tbody>
		<tbody ng-show="users.length == 0">
			<tr>
				<td class="text-center" colspan="3"><i>Chưa có ai đăng ký</i></td>
			</tr>
		</tbody>
	</table>
</div>