<div class="col-sm-12">
</div>

<div class="col-sm-8">

	<!-- demo post -->

	<div ng-show="PostLoading">
		<div class="progress">
			<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
		</div>
	</div>

	<div ng-show="!PostLoading" for="posts" ng-repeat="post in Posts">
		<div class="panel panel-default" ng-show="post.show">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span style="color: navy;">{{ post.title }}</span>
					<small uib-tooltip="{{ post.createdAt }}" tooltip-placement="right">Đăng: {{ moment(post.createdAt).from(moment()) }} bởi {{ post.author }} / </small> <small uib-tooltip="{{ post.updatedAt }}" tooltip-placement="right">Cập nhật lần cuối: {{ moment(post.updatedAt).from(moment()) }}</small>
					<div ng-show="logined && user.role == 'admin'" class="btn-group pull-right" uib-dropdown is-open="post.isopen">
						<button id="single-button" type="button" class="btn btn-xs btn-default" uib-dropdown-toggle ng-disabled="disabled">
						E <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li role="menuitem"><a href="admin/edit/post/{{ post.id }}">Sửa bài viết</a></li>
							<li role="menuitem"><a href="javascript:void(0);" ng-click="delete(post)">Xóa bài viết</a></li>
						</ul>
					</div>
				</h3>
			</div>

			<div class="panel-body" ng-show="!post.formLoading" ng-bind-html="post.HTMLContent"></div>
			<div class="panel-body" ng-show="post.formLoading">
				<div class="progress">
					<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
				</div>
			</div>

			<div class="panel-footer post-footer">
				<a ng-href="post/{{ post.id }}">
					<i class="fa fa-comments-o" aria-hidden="true"></i> <strong> ({{ post.cntComment }}) Bình luận</strong>
				</a>
				<div class="pull-right">
					<a class="share-button" target="_blank" ng-href="{{ post.fbShareLink }}" style="background: url(./static/img/share/facebook.png)"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">→ Contest</h3>
		</div>
		<div class="panel-body">
			<div ng-show="ContestLoading">
				<div class="progress">
					<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
				</div>
			</div>
			<div ng-show="!ContestLoading" for="contest">
				<div for="present" ng-show="PresentContest.length > 0">
					<legend><h4>Contest đang diễn ra</h4></legend>
					<div ng-repeat ="contest in PresentContest">
						<center>
							<h4 ng-if="contest.facebook_url == null || contest.facebook_url == undefined">{{ contest.name }}</h4>
							<a target="_blank" href="{{ contest.facebook_url }}" ng-if="contest.facebook_url != null && contest.facebook_url != undefined">
								<h4>{{ contest.name }}</h4>
							</a>
							<p>Đã bắt đầu {{ moment(contest.startTime).from(moment()) }}</p>
							<p><a style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}"> {{ moment(contest.startTime).format('llll') }}</a></p>
						</center>
						<div ng-if="!contest.hasRegistered">
							<a href="/register/new/{{contest.id}}"><button class="btn btn-primary btn-block">Đăng ký</button></a>
						</div>
						<div ng-if="contest.hasRegistered">
							<a href="./autologin/{{contest.id}}"><button class="btn btn-primary btn-block"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Tham gia ngay</button></a>
						</div>
						<hr>
					</div>
					<!-- <table style="font-size: 13px;" class="table table-default table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th class="text-left">Đã bắt đầu</th>
								<th class="text-left">Tên Contest</th>
							</tr>
						</thead>
						<tbody ng-show="PresentContest.length > 0">
							<tr ng-repeat="contest in PresentContest">
								<td title="{{ contest.startTime }}" class="text-lef"><a style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}">{{ moment(contest.startTime).from(moment()) }}</a></td>
								<td class="text-left">{{ contest.name }}</td>
							</tr>
						</tbody>
						<tbody ng-show="PresentContest.length == 0">
							<tr>
								<td class="text-center" colspan="2">
									<i>Không có contest nào đang diễn ra</i>
								</td>
							</tr>
						</tbody>
					</table> -->
				</div>

				<div for="upcoming" ng-show="UpcomingContests.length > 0">
					<legend><h4>Contest sắp tới</h4></legend>
					<div ng-repeat ="contest in UpcomingContests">
						<center>
							<h4 ng-if="contest.facebook_url == null || contest.facebook_url == undefined">{{ contest.name }}</h4>
							<a target="_blank" href="{{ contest.facebook_url }}" ng-if="contest.facebook_url != null && contest.facebook_url != undefined">
								<h4>{{ contest.name }}</h4>
							</a>
							<p>{{ moment(contest.startTime).from(moment()) }}</p>
							<p><a style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}"> {{ moment(contest.startTime).format('llll') }}</a></p>
						</center>
						<div ng-if="!contest.hasRegistered">
							<a href="/register/new/{{contest.id}}"><button class="btn btn-primary btn-block">Đăng ký</button></a>
						</div>
						<div class="box-green" ng-if="contest.hasRegistered">
							<i class="fa fa-check" aria-hidden="true"></i> Đã đăng ký
						</div>
						<hr>
					</div>
					<!-- <table style="font-size: 13px;" class="table table-default table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th class="text-left">Bắt đầu</th>
								<th class="text-left">Tên Contest</th>
							</tr>
						</thead>
						<tbody ng-show="UpcomingContests.length > 0">
							<tr ng-repeat="contest in UpcomingContests">
								<td class="text-left">
									<a uib-tooltip="{{ moment(contest.startTime).from(moment()) }}" tooltip-placement="left" style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}"> {{ moment(contest.startTime).format('llll') }}</a>
								</td>
								<td class="text-left">
									<a target="_blank" href="{{ contest.facebook_url }}" ng-if="contest.facebook_url != null && contest.facebook_url != undefined">
										{{ contest.name }} 
									</a>
									<span ng-if="contest.facebook_url == null || contest.facebook_url == undefined">
										{{ contest.name }}
									</span>
								</td>
							</tr>
						</tbody>
						<tbody ng-show="UpcomingContests.length == 0">
							<tr>
								<td class="text-center" colspan="2"><i>Không có contest nào sắp tới</i></td>
							</tr>
						</tbody>
					</table> -->
				</div>

				<div for="recent">
					<h4>Contest đã qua</h4>
					<table style="font-size: 13px;" class="table table-default table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th class="text-left">Bắt đầu</th>
								<th class="text-left">Tên Contest</th>
							</tr>
						</thead>
						<tbody ng-show="RecentContests.length > 0">
							<tr ng-repeat="contest in RecentContests">
								<td class="text-left"><a uib-tooltip="{{ moment(contest.startTime).from(moment()) }}" tooltip-placement="left" style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}"> {{ moment(contest.startTime).format('llll') }}</a></td>
								<td class="text-left">
									<a target="_blank" href="{{ contest.facebook_url }}" ng-if="contest.facebook_url != null && contest.facebook_url != undefined">
										{{ contest.name }} 
									</a>
									<span ng-if="contest.facebook_url == null || contest.facebook_url == undefined">
										{{ contest.name }}
									</span>
								</td>
							</tr>
						</tbody>
						<tbody ng-show="RecentContests.length == 0">
							<tr>
								<td class="text-center" colspan="2"><i>Không có contest nào đã qua</i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div style="font-size: 13px;" for="footer" class="text-right">
				<a style="text-decoration: none; color: navy;" href="contests">[Xem tất cả]</a>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span style="color: navy;">→ Rating (Beta)</span>
			</h3>
		</div>
		<div ng-show="RankLoading" class="panel-body">
			<div ng-show="PostLoading">
				<div class="progress">
					<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
				</div>
			</div>
		</div>
		<table ng-show="!RankLoading" style="font-size: 13px;" class="table table-default table-striped table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th class="text-center">#</th>
					<th class="text-center">User</th>
					<th class="text-center">Rating</th>
				</tr>
			</thead>
			<tbody ng-show="topten.length > 0">
				<tr ng-repeat="user in topten">
					<td class="text-center">{{user.rank}}</td>
					<td class="text-center">
						<a class="{{ colors[user.color] }}" href="user/{{user.username}}">{{user.username}}</a>
					</td>
					<td class="text-center">{{user.rating}}</td>
				</tr>
			</tbody>
			<tbody ng-show="topten.length == 0">
				<tr>
					<td class="text-center" colspan="6"><i>Không có user nào trên Ranking.</i></td>
				</tr>
			</tbody>
		</table>
		<div ng-show="topten.length == 10" style="font-size: 13px;" class="panel-body text-right">
			<a style="text-decoration: none; color: navy;" href="rating">[Xem tất cả]</a>
		</div>
	</div>
</div>
