<div class="col-sm-6 col-sm-offset-3">
	<div class="well well-lg">
		<legend><h1>Đăng nhập</h1></legend>
		<form ng-submit="login()">
			<div class="form-group">
				<label>Tên đăng nhập</label>
				<input class="form-control" type="text" ng-model="username" placeholder="username" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" autofocus required>
			</div>
			<div class="form-group">
				<label>Mật khẩu</label>
				<input class="form-control" type="password" ng-model="password" placeholder="●●●●●●●●●●●" required>
			</div>
			<div class="form-group text-right">
				<button ng-model="btnSubmit" ng-disabled="formLoading" type="submit" class="btn btn-primary">
					<strong>Đăng nhập</strong>
				</button>
			</div>
		</form>
	</div>
</div>
