<div ng-show="validating">
	<div class="progress">
		<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
	</div>
</div>

<div ng-show="!validating" class="col-sm-8 col-sm-offset-2">
  <legend><h3>Đăng ký tham gia {{ contest.name }}</h3></legend>
  <div for="contest_rules">
    <p>Hãy chắc chắn bạn đã đọc nội quy, mọi hành vi trái với nội quy sẽ bị khoá tài khoản.</p>
    <ol>
      <li>Không được trao đổi với thí sinh khác.</li>
      <li>Không sử dụng code, trình sinh test không phải do mình làm ra.</li>
      <li>Không chia sẻ, gợi ý lời giải trong lúc kỳ thi đang diễn ra.</li>
      <li>Không được sử dụng nhiều tài khoản tham gia cùng lúc.</li>
      <li>Không cố khai thác lỗi, tấn công hệ thống trong quá trình diễn ra kỳ thi.</li>
      <li>Nếu muốn khai thác lỗi, đóng góp hãy liên hệ với đội TNV Free Contest qua fanpage trên Facebook.</li>
    </ol>

    <div ng-if="contest.code == 1">
      <div class="alert alert-warning">
        <strong>Lưu ý!</strong> Mọi thí sinh đăng ký trực tiếp trên trang web sẽ đều bị ẩn khỏi bảng xếp hạng. Mọi thắc mắc liên hệ Fanpage của Free Contest trên Facebook.
      </div>
    </div>

    <div ng-if="contest.IsDuring && contest.code == 0">
      <div class="alert alert-warning">
        <strong>Lưu ý!</strong> Kỳ thi đang diễn ra, vì vậy bạn sẽ bị ẩn khỏi bảng xếp hạng.
      </div>
    </div>

    <form ng-submit="regThisContest()">
      <div class="form-group" ng-if="!contest.IsDuring && contest.code == 0">
        <input ng-checked="displayOnRanking" type="checkbox" ng-disabled="contest.IsDuring" ng-click="clicked()">
        <label>Hiện trên bảng xếp hạng</label>
      </div>
      
      <div class="form-group">
        <button type="submit" ng-disabled="registering" class="btn btn-primary btn-block">Tôi đã hiểu và đăng ký kỳ thi này</button>
      </div>
    </form>
  </div>
</div>