<div class="col-sm-8">
	<div for="loadingPost" ng-show="loadingPost">
		<div class="progress">
			<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Đang tải bài viết...</i></div>
		</div>
	</div>

	<div for="posts" ng-repeat="post in Posts">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span style="color: navy;">{{ post.title }}</span>
					<small uib-tooltip="{{ post.createdAt }}" tooltip-placement="right">Đăng: {{ moment(post.createdAt).from(moment()) }} bởi {{ post.author }} /</small> <small uib-tooltip="{{ post.updatedAt }}" tooltip-placement="right">Cập nhật lần cuối: {{ moment(post.updatedAt).from(moment()) }}</small>
				</h3>
			</div>

			<div class="panel-body" ng-bind-html="post.HTMLContent"></div>

			<div class="panel-footer post-footer">
				<i class="fa fa-comments-o" aria-hidden="true"></i> <strong>({{ AcntComment }}) Bình luận</strong>
				<div class="pull-right">
					<a class="share-button" target="_blank" ng-href="{{ post.fbShareLink }}" style="background: url(./static/img/share/facebook.png)"></a>
				</div>
			</div>
			<div class="panel-footer post-footer">
				<form ng-submit="comment()">
					<div class="form-group">
						<div ng-show="logined">
							<label>Bình luận với tư cách <a class="{{ colors[user.color] }}" href="user/{{ user.username }}">{{ user.username }} ({{ user.name }})</a></label>
						</div>
						<div ng-show="!logined">
							<label>Bạn cần <a href="login">đăng nhập</a> để có thể viết bình luận!</label>
						</div>
						<textarea ng-disabled="commenting || !logined" style="resize: none;" class="form-control squared-block" ng-model="$parent.content" placeholder="{{logined ? 'Nhập nội dung bình luận vào đây' : 'Bạn cần đăng nhập để có thể bình luận'}}" rows="5"></textarea>
					</div>
					<div class="form-group text-right">
						<button class="btn btn-primary squared-block" ng-disabled="commenting || !logined || content == '' || content.length < 1">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i> Đăng bình luận
						</button>
					</div>
				</form>
			</div>
			<div class="panel-footer post-footer">
				<!-- show comment -->
				<div class="text-center" ng-show="!loadingComment && allComments.length == 0">
					<i><small>Bài viết chưa có bình luận nào!</small></i>
				</div>
				<section class="comment-list" ng-repeat="com in allComments">
					<article ng-hide="com.deleted || deleteLogs.includes(com.id)" class="row">
						<div class="col-md-2 col-sm-2 hidden-xs">
							<figure class="thumbnail">
								<a href="user/{{com.owner.username}}"><img class="img-responsive" src="https://www.gravatar.com/avatar/{{ com.owner.avatar == undefined ? '' : com.owner.avatar }}?d=mp&s=200" />
									<figcaption class="text-center">
										 <span class="{{ colors[com.owner.color] }}">{{ com.owner.username }}</span>
									</figcaption>
								</a>
							</figure>
						</div>
						<div class="col-md-10 col-sm-10">
							<div class="panel panel-default arrow left">
								<div class="panel-body">
									<div class="comment-post">
										<div ng-show="com.editMode">
											<form>
												<div class="form-group">
													<textarea ng-model="com.newComment" class="form-control squared-block" rows="3"></textarea>
												</div>
												<div class="form-group text-right">
													<button ng-click="offModeEditComment(com)" class="btn btn-default squared-block">Huỷ</button>
													<button ng-disabled="com.editing" ng-click="editComment(com)" class="btn btn-primary squared-block">Cập nhật</button>
												</div>
											</form>
										</div>
										<p ng-show="!com.editMode">{{ com.content }}</p>
									</div>
								</div>
								<div class="panel-footer post-footer">
									<small><time class="comment-date"><i class="fa fa-clock-o"></i> {{ moment(com.createdAt).from(moment()) }}</time></small> /
									<small uib-tooltip="{{ com.updatedAt }}" tooltip-placement="right">Cập nhật lần cuối: {{ moment(com.updatedAt).from(moment()) }}</small>
									<div ng-show="com.owner.username === user.username" class="pull-right">
										<button ng-disabled="com.editing" class="btn btn-xs btn-default" ng-click="openModeEditComment(com)">
											<i class="fa fa-trash-o" aria-hidden="true"></i> Chỉnh sửa
										</button>
										<button ng-disabled="com.deleting" class="btn btn-xs btn-danger" ng-click="deleteComment(com)">
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Xoá
										</button>
									</div>
								</div>
							</div>
						</div>
					</article>
				</section>

				<!-- loading comment -->
				<div for="loadingComment" ng-show="loadingComment || loadingMore">
					<div class="progress">
						<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Đang tải bình luận...</i></div>
					</div>
				</div>

				<div class="form-group" ng-show="!fullComment && !loadingComment && !loadingMore && allComments.length !== AcntComment">
					<button ng-click="loadMoreComment()" ng-disabled="loadingMore" class="btn btn-default btn-block btn-sm"><strong>Tải thêm bình luận</strong></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">→ Contest</h3>
		</div>
		<div class="panel-body">
			<div ng-show="ContestLoading">
				<div class="progress">
					<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
				</div>
			</div>
			<div ng-show="!ContestLoading" for="contest">
				<div for="present" ng-show="PresentContest.length > 0">
					<h4>Contest đang diễn ra</h4>
					<table style="font-size: 13px;" class="table table-default table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th class="text-left">Đã bắt đầu</th>
								<th class="text-left">Tên Contest</th>
							</tr>
						</thead>
						<tbody ng-show="PresentContest.length > 0">
							<tr ng-repeat="contest in PresentContest">
								<td title="{{ contest.startTime }}" class="text-lef"><a style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}">{{ moment(contest.startTime).from(moment()) }}</a></td>
								<td class="text-left">{{ contest.name }}</td>
							</tr>
						</tbody>
						<tbody ng-show="PresentContest.length == 0">
							<tr>
								<td class="text-center" colspan="2">
									<i>Không có contest nào đang diễn ra</i>
								</td>
							</tr>
						</tbody>
					</table>
					<hr>
				</div>

				<div for="upcoming">
					<h4>Contest sắp tới</h4>
					<table style="font-size: 13px;" class="table table-default table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th class="text-left">Bắt đầu</th>
								<th class="text-left">Tên Contest</th>
							</tr>
						</thead>
						<tbody ng-show="UpcomingContests.length > 0">
							<tr ng-repeat="contest in UpcomingContests">
								<td class="text-left">
									<a uib-tooltip="{{ moment(contest.startTime).from(moment()) }}" tooltip-placement="left" style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}"> {{ moment(contest.startTime).format('llll') }}</a>
								</td>
								<td class="text-left">{{ contest.name }}</td>
							</tr>
						</tbody>
						<tbody ng-show="UpcomingContests.length == 0">
							<tr>
								<td class="text-center" colspan="2"><i>Không có contest nào sắp tới</i></td>
							</tr>
						</tbody>
					</table>
					<hr>
				</div>

				<div for="recent">
					<h4>Contest đã qua</h4>
					<table style="font-size: 13px;" class="table table-default table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th class="text-left">Bắt đầu</th>
								<th class="text-left">Tên Contest</th>
							</tr>
						</thead>
						<tbody ng-show="RecentContests.length > 0">
							<tr ng-repeat="contest in RecentContests">
								<td class="text-left"><a uib-tooltip="{{ moment(contest.startTime).from(moment()) }}" tooltip-placement="left" style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}"> {{ moment(contest.startTime).format('llll') }}</a></td>
								<td class="text-left">{{ contest.name }}</td>
							</tr>
						</tbody>
						<tbody ng-show="RecentContests.length == 0">
							<tr>
								<td class="text-center" colspan="2"><i>Không có contest nào đã qua</i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div style="font-size: 13px;" for="footer" class="text-right">
				<a style="text-decoration: none; color: navy;" href="contests">[Xem tất cả]</a>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span style="color: navy;">→ Ranking</span>
			</h3>
		</div>
		<div ng-show="RankLoading" class="panel-body">
			<div ng-show="PostLoading">
				<div class="progress">
					<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
				</div>
			</div>
		</div>
		<table ng-show="!RankLoading" style="font-size: 13px;" class="table table-default table-striped table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th class="text-center">#</th>
					<th class="text-center">User</th>
					<th class="text-center">Rating</th>
				</tr>
			</thead>
			<tbody ng-show="topten.length > 0">
				<tr ng-repeat="user in topten">
					<td class="text-center">{{user.rank}}</td>
					<td class="text-center">
						<a class="{{ colors[user.color] }}" href="user/{{user.username}}">{{user.username}}</a>
					</td>
					<td class="text-center">{{user.rating}}</td>
				</tr>
			</tbody>
			<tbody ng-show="topten.length == 0">
				<tr>
					<td class="text-center" colspan="6"><i>Không có user nào trên Ranking.</i></td>
				</tr>
			</tbody>
		</table>
		<div ng-show="topten.length == 10" style="font-size: 13px;" class="panel-body text-right">
			<a style="text-decoration: none; color: navy;" href="rating">[Xem tất cả]</a>
		</div>
	</div>
</div>
