<div class="col-sm-8 col-sm-offset-2">
	<div id="list-todo" style="font-size: 20px">
		<ol>
			<li>Kiểm tra người dùng đã đăng nhập <i ng-class="checkLogined ? 'green-icon fa fa-check' : 'gray-icon fa fa-check'" aria-hidden="true"></i></li>
			<li>Kiểm tra tính hợp lệ của kỳ thi <i ng-class="checkContest ? 'green-icon fa fa-check' : 'gray-icon fa fa-check'" aria-hidden="true"></i></li>
			<li>Chuẩn bị mật khẩu để đăng nhập vào hệ thống CMS <i ng-class="catchedTmpPassword ? 'green-icon fa fa-check' : 'gray-icon fa fa-check'" aria-hidden="true"></i></li>
		</ol>
	</div>

	<div ng-show="UserLoading">
		<div class="progress" style="height: 40px !important;">
			<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%; font-size: 20px !important; line-height: 35px !important;"><i>{{ loadingMessage }}</i></div>
		</div>
	</div>

	<div id="main">
		<div class="text-center">
			<img src="https://i.imgur.com/tjuTm6Q.gif?noredirect">
		</div>
	</div>
</div>