<div class="col-sm-8">
	<div ng-show="UserLoading">
		<div class="progress">
			<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
		</div>
	</div>
	<div ng-show="!UserLoading">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-sm-4">
					<div for="img">
						<img style="max-width: 200px; max-height: 200px;" width="100%" src="https://www.gravatar.com/avatar/{{ User.avatar == undefined ? '' : User.avatar }}?d=mp&s=200">
					</div>
				</div>
				<div class="col-sm-8">
					<div for="username" style="font-size: 23px;">
						<div for="title" style="font-size: 15px;">
							<span class="{{ colors[User.color] }}">{{ titles[User.color] }}</span>
						</div>
						<span class="{{ colors[User.color] }}">{{User.username}}</span>
						<hr>
					</div>
					<div style="font-size: 16px">
						<div ng-show="User.rating > 0" for="rating" style="margin-top: 5px;">
							Rating: <span class="{{ colors[User.color] }}">{{ User.rating }}</span> <span style="font-size: 13px;">(max. <span class="{{ colors[getColor(User.rating)] }}"> {{ titles[getColor(User.rating)] }}, {{ maxRating }}</span>)</span>
						</div>
						<div for="name" style="margin-top: 5px;">
							Tên: <strong>{{ User.name }}</strong>
						</div>
						<div for="schoolName" style="margin-top: 5px;">
							Trường: <strong>{{ User.schoolName }}</strong>
						</div>
						<div for="yob" style="margin-top: 5px;">
							Năm sinh: <strong>{{ User.yob }}</strong>
						</div>
					</div>
				</div>
				<div ng-show="User.logsUpdateRating.length > 0" class="col-sm-12">
					<hr>
					<canvas id="ratingStatus" width="698" height="80"></canvas><br>
					<canvas id="ratingGraph" width="698" height="360"></canvas><br>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">
	<div ng-show="ContestLoading">
		<div class="progress">
			<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
		</div>
	</div>
	<div ng-show="!ContestLoading" class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">→ Contest {{ User.username }} đã đăng ký</h3>
		</div>
		<div class="panel-body">
			<table style="font-size: 13px;" class="table table-default table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th class="text-left">Bắt đầu</th>
						<th class="text-left">Tên Contest</th>
					</tr>
				</thead>
				<tbody ng-show="RegisteredContests.length > 0">
					<tr ng-repeat="contest in RegisteredContests">
						<td class="text-left"><a uib-tooltip="{{ moment(contest.startTime).from(moment()) }}" tooltip-placement="left" style="text-decoration: none;" target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.startTime }}"> {{ moment(contest.startTime).format('llll') }}</a></td>
						<td class="text-left">
							<a target="_blank" href="{{ contest.facebook_url }}" ng-if="contest.facebook_url != null && contest.facebook_url != undefined">
								{{ contest.name }} 
							</a>
							<span ng-if="contest.facebook_url == null || contest.facebook_url == undefined">
								{{ contest.name }}
							</span>
							<small>({{ contest.present ? 'Đang diễn ra' : (contest.upcoming ? 'Sắp diễn ra' : 'Đã diễn ra') }})</small>
						</td>
					</tr>
				</tbody>
				<tbody ng-show="RegisteredContests.length == 0">
					<tr>
						<td class="text-center" colspan="2">
							<i>{{ User.username }} chưa đăng ký contest nào</i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
