<div ng-show="RankLoading">
	<div class="progress">
		<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
	</div>
</div>

<div ng-show="!RankLoading" class="col-sm-10 col-sm-offset-1">
	<h2>Ranking</h2>
	<div class="table-responsive">
		<table class="table table-default table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th class="text-center">Rank</th>
					<th class="text-center">Username</th>
					<th class="text-center">DOB</th>
					<th class="text-center">Rating</th>
				</tr>
			</thead>
			<tbody ng-show="ranking.length > 0">
				<tr ng-class="{activeBlue: user.username == User.username}" ng-repeat="User in ranking">
					<td class="text-center">{{User.rank}}</td>
					<td>
						<div class="text-left">
							<a class="{{ colors[User.color] }}" href="user/{{User.username}}">{{User.username}}</a>
							<div style="color: gray; font-size: 12px;" class="pull-right">
								{{User.schoolName}}
							</div>
						</div>
					</td>
					<td class="text-center">{{User.yob}}</td>
					<td class="text-center"><span class="{{ colors[User.color] }}">{{User.rating}}</span></td>
				</tr>
			</tbody>
			<tbody ng-show="ranking.length == 0">
				<tr>
					<td class="text-center" colspan="6"><i>Không có user nào trên Ranking.</i></td>
				</tr>
			</tbody>
		</table>
		<div ng-show="ranking.length % 100 == 0">
			<button ng-disabled="RankLoadingBtn" ng-click="loadMore()" class="btn btn-sm btn-block btn-default">Tải thêm</button>
		</div>
	</div>
</div>
