<div class="col-sm-12">
	<legend><h1>Đăng ký</h1></legend>
	<form ng-submit="register()">
		<div class="col-sm-6">
			<div class="form-group">
				<label>Họ và tên</label>
				<input class="form-control" type="text" ng-model="name" placeholder="VD: Nguyễn Minh Huy" autofocus required>
			</div>
			<div class="form-group">
				<label>Trường</label>
				<input class="form-control" type="text" ng-model="schoolName" placeholder="VD: THPT Chuyên Lê Quý Đôn - Khánh Hòa" required>
			</div>
			<div class="form-group">
				<label>Năm sinh</label>
				<input class="form-control" type="number" ng-model="yob" placeholder="VD: 2001" required>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label>Tên đăng nhập (Chỉ có ký tự a-z và 0-9)</label>
				<input class="form-control" type="text" ng-model="username" placeholder="VD: rknguyen" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" required>
			</div>
			<div class="form-group">
				<label>Mật khẩu</label>
				<input class="form-control" type="password" ng-model="password" placeholder="●●●●●●●●●●●" required>
			</div>
			<div class="form-group">
				<label>Nhập lại mật khẩu</label>
				<input class="form-control" type="password" ng-model="repassword" placeholder="●●●●●●●●●●●" required>
			</div>
		</div>
		<div class="col-sm-12">
			<hr>
			<div class="form-group text-right">
				<button ng-model="btnSubmit" ng-disabled="formLoading" type="submit" class="btn btn-primary">
					<strong>Đăng ký tài khoản</strong>
				</button>
			</div>
		</div>
	</form>
</div>
