<div class="col-sm-12">
	<legend><h1>Cập nhật thông tin</h1></legend>

	<div ng-show="UserLoading">
		<div class="progress">
			<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
		</div>
	</div>
	<div ng-show="!UserLoading">
		<div class="col-sm-5">
			<div style="margin-top: -20px;">
				<h3>@{{user.username}}</h3>
				<div for="img">
					<img src="https://www.gravatar.com/avatar/{{ user.avatar == undefined ? '' : user.avatar }}?d=mp&s=200">
				</div>
				<div for="text">
					<hr>
					<p>Bạn có thể cập nhật avatar bằng cách thêm địa chỉ email vào ô bên dưới.</p>
					<form ng-submit="updateAvt()">
						<div class="input-group">
							<input type="email" class="form-control" ng-model="email" placeholder="Email, ex: nmhuy12@gmail.com" required>
							<span class="input-group-btn">
								<button ng-disabled="formLoading1" class="btn btn-default">Cập nhật avatar</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-7">
			<form ng-submit="updateInfo()">
				<div class="form-group">
					<input type="checkbox" ng-checked="!showOnRanking"> 
					<label>Ẩn trên ranking (<i>Tick vào nếu bạn muốn ẩn khỏi ranking</i>)</label>
				</div>
				<div class="form-group">
					<label>Họ và tên</label>
					<input class="form-control" type="text" ng-model="name" required>
				</div>
				<div class="form-group">
					<label>Trường</label>
					<input class="form-control" type="text" ng-model="schoolName" required>
				</div>
				<div class="form-group">
					<label>Năm sinh</label>
					<input class="form-control" type="number" ng-model="yob" required>
				</div>
				<p><i>Điền mật khẩu mới vào dưới đây nếu bạn muốn đổi mật khẩu</i></p>
				<div class="form-group">
					<label>Mật khẩu mới</label>
					<input class="form-control" type="password" ng-model="password" placeholder="●●●●●●●●●●●">
				</div>
				<div class="form-group">
					<label>Nhập lại mật khẩu</label>
					<input class="form-control" type="password" ng-model="repassword" placeholder="●●●●●●●●●●●">
				</div>
				<div class="form-group text-right">
					<hr>
					<button ng-model="btnSubmit" ng-disabled="formLoading2" type="submit" class="btn btn-primary">
						<strong>Cập nhật thông tin</strong>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>