<legend><h1>Thêm contest</h1></legend>
<form ng-submit="add()">
	<div class="form-group">
		<label>Tên contest</label>
		<input type="text" class="form-control" ng-model="name" placeholder="Free Contest XYZ" required>
	</div>
	<div class="form-group">
		<label>Thời gian bắt đầu</label>
		<!-- <input type="text" class="form-control" ng-model="startTime" placeholder="......." required> -->
		<div class="input-group">
			<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm:ss" ng-model="startTime.date" is-open="startTime.open" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startTime')"><i class="fa fa-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label>Thời gian kết thúc</label>
		<!-- <input type="text" class="form-control" ng-model="endTime" placeholder="......." required> -->
		<div class="input-group">
			<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm:ss" ng-model="endTime.date" is-open="endTime.open" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'endTime')"><i class="fa fa-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label>Thời lượng</label>
		<input type="number" class="form-control" ng-model="duration" placeholder="3" required>
	</div>
	<div class="form-group">
		<label>Những người ra đề</label>
		<input type="text" class="form-control" ng-model="writters" placeholder="rknguyen,htkiet" required>
	</div>
	<hr>
	<div class="form-group">
		<button class="btn btn-primary btn-block" type="submit" ng-disabled="formLoading">
			<strong>Thêm contest</strong>
		</button>
	</div>
</form>