<legend><h1>Cập nhật contest <button class="btn btn-danger btn-xs" ng-click="deleteConfirm()" ng-disabled="deleting">Xóa contest</button></h1></legend>
<div ng-show="contestLoading">
	<div class="progress">
		<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
	</div>
</div>
<div ng-show="!contestLoading">
	<form ng-submit="update()">
		<div class="form-group">
			<label>Tên contest</label>
			<input type="text" class="form-control" ng-model="name" required>
		</div>
		<div class="form-group">
			<label>Thời gian bắt đầu</label>
			<!-- <input type="text" class="form-control" ng-model="startTime" required> -->
			<div class="input-group">
				<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm:ss" ng-model="startTime.date" is-open="startTime.open" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startTime')"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>Thời gian kết thúc</label>
			<!-- <input type="text" class="form-control" ng-model="endTime" required> -->
			<div class="input-group">
				<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm:ss" ng-model="endTime.date" is-open="endTime.open" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'endTime')"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>Thời lượng</label>
			<input type="number" class="form-control" ng-model="duration" required>
		</div>
		<div class="form-group">
			<label>Những người ra đề</label>
			<input type="text" class="form-control" ng-model="writters" required>
		</div>
		<div class="form-group">
			<label>ID contest trong CMS</label>
			<input type="number" class="form-control" ng-model="id_contest" required>
		</div>
		<div class="form-group">
			<label>Để số 1 nếu muốn tất cả thí sinh đều bị ẩn khỏi bảng xếp hạng</label>
			<input type="number" class="form-control" ng-model="code" required>
		</div>
		<div class="form-group">
			<label>Link luyện tập sau contest</label>
			<input type="url" class="form-control" ng-model="practice_url" placeholder="Chưa có link luyện tập kỳ thi">
		</div>
		<div class="form-group">
			<label>Liên kết contest đến bài viết trên Facebook</label>
			<input type="url" class="form-control" ng-model="facebook_url" placeholder="Chưa liên kết với bài viết nào trên Facebook">
		</div>
		<div class="form-group">
			<hr>
			<button class="btn btn-primary btn-block" type="submit" ng-disabled="formLoading">
				<strong>Cập nhật</strong>
			</button>
		</div>
	</form>
</div>