<div class="col-sm-12">
	<form ng-submit="Post()">
		<div class="col-sm-12">
			<legend><h1>Tạo bài viết</h1></legend>
			<div class="form-group">
				<label>Tiêu đề</label>
				<input type="text" class="form-control" ng-model="title" placeholder="Hôm nay trời đầy nắng...">
			</div>
		</div>
		<div class="col-sm-6">
			<!-- <legend><h1>Bài viết</h1></legend> -->
			<label>Bài viết</label>
			<div class="form-group">
				<textarea style="resize: none;" class="form-control" ng-model="content" ng-change="updatePreview()" placeholder="Hello. 
* This is markdown.
* It is fun
* Love it or leave it." rows="25"></textarea>
			</div>
		</div>

		<div class="col-sm-6">
			<!-- <legend><h1>Xem trước</h1></legend> -->
			<label>Xem trước</label>
			<div class="form-group" style="border: 3px; border-color: navy; border-style: dashed; ">
				<div style="margin: 10px 10px 10px 10px; height: 487px; overflow: auto;" ng-bind-html="markdownPreview"></div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit" ng-disabled="formLoading"><strong>Đăng bài</strong></button>
			</div>
		</div>
	</form>
</div>