<legend><h3>Cập nhật thông tin người dùng</h3></legend>
<div ng-show="UserLoading">
	<div class="progress">
		<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
	</div>
</div>
<div ng-show="!UserLoading">	
	<form ng-submit="update()">
		<div class="form-group">
			<label>Tên người dùng</label>
			<input type="text" class="form-control" ng-model="username" required>
		</div>
		<div class="form-group">
			<label>Mật khẩu</label>
			<input type="text" class="form-control" ng-model="password" required>
		</div>
		<div class="form-group">
			<label>Vai trò</label>
			<input type="text" class="form-control" ng-model="role" required>
		</div>
		<div class="form-group">
			<label>Màu tên</label>
			<input type="text" class="form-control" ng-model="color" required>
		</div>
		<div class="form-group">
			<label>Rating</label>
			<input type="text" class="form-control" ng-model="rating" required>
		</div>
		<div class="form-group">
			<hr>
			<button class="btn btn-primary btn-block" ng-disabled="formLoading">Cập nhật</button>
		</div>
	</form>
</div>