<div ng-show="UserLoading">
	<div class="progress">
		<div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"><i>Loading...</i></div>
	</div>
</div>

<div ng-show="!UserLoading" class="col-sm-10 col-sm-offset-1">
	<h3>Quản lý người dùng</h3>
	<table class="table table-default table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th class="text-center">#</th>
				<th class="text-center">Tên</th>
				<th class="text-center">Vai trò</th>
				<th class="text-center">Màu</th>
				<th class="text-center">Rating</th>
				<th class="text-center"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="User in users">
				<td class="text-center">{{ User.stt }}</td>
				<td class="text-center">{{ User.username }}</td>
				<td class="text-center">{{ User.role }}</td>
				<td class="text-center">{{ User.color }}</td>
				<td class="text-center">{{ User.rating }}</td>
				<td class="text-center"><a href="admin/user/edit/{{ User.id }}">Sửa</a></td>
			</tr>
		</tbody>
	</table>
</div>