<!DOCTYPE html>
<html lang="vi-vn" ng-app="app">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="KOeDBg7U1ITbiyydngt_0MvsT2-UttcI-yP2-EgvzLU" />
    <title ng-bind="title">Free Contest</title>
    <link rel="shortcut icon" type="image/png" href="./static/img/favicon.png" />
    <link href="{{{staticDir}}}/css/freecontest.css" rel="stylesheet" />
    <link href="{{{staticDir}}}/css/sweet-alert.css" rel="stylesheet" />
</head>

<body>
    <div ng-include="'./static/template/index.html'"></div>
</body>

<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<script src="{{{angularCDN}}}/angular.min.js"></script>
<script src="{{{angularCDN}}}/angular-route.min.js"></script>
<script src="{{{angularCDN}}}/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.tpls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/vi.js"></script>
<script src="https://rawgit.com/showdownjs/showdown/develop/dist/showdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script src="https://rawgit.com/Gillardo/bootstrap-ui-datetime-picker/master/dist/datetime-picker.js"></script>
<script src="{{{staticDir}}}/js/sweet-alert.min.js"></script>
<script src="{{{staticDir}}}/js/ng-sweet-alert.min.js"></script>
<script src="{{{staticDir}}}/js/index.js"></script>

</html>