@import url("//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-minimal.min.css");
@import url("https://fonts.googleapis.com/css?family=Squada+One");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
img {
	max-width:100% !important;
}

.box-green {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}
.navbar-inner {
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.175);
	box-shadow: 0 3px 3px rgba(0,0,0,0.175);
}
.navbar-collapse.in {
	overflow-y: hidden;
	overflow-x: hidden;
}

img[src$="centerme"] {
	display:block;
	margin: 0 auto;
}

.text-center {
	vertical-align: middle !important;
	text-align: center !important;
}

@media (min-width: 1200px)
.container {
    width: 1170px;
}

a {
	text-decoration: none !important;
}

.activeBlue {
	background-color: #ddeefe !important;
}

.oppa {
	opacity: 0.5;
}

.proloader {
	position: absolute;
	top: 49px;
	opacity: 1.5;
	left: 0;
	right: 0;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
	z-index: 999;
}

.writters {
	font-size: 12px;
}

/*.navbar-brand {
	background: url("/static/img/favicon.png") no-repeat center center;
	background-size: contain;
	height: 50px;
	width: 80px;
}*/

.squared-block {
	border-radius: 0 !important;
}

.share-button {
	width: 20px;
	height: 20px;
	float: left;
	cursor: pointer;
	border-radius: 2px;
	margin: 0px 1px;
}

.post-footer {
	background-color: #ffffff;
}


/* NAME COLOR */
.dark-red, .dark-red:hover {
	font-weight: bold;
	color: #7d021e !important;
}

.black, .black:hover {
	color: #333 !important;
}

.bold-black, .bold-black:hover {
	color: black;
	font-weight: bold;
}

.gray, .gray:hover {
	color: gray;
	font-weight: bold;
}

.green, .green:hover {
	color: green;
	font-weight: bold;
}

.cyan, .cyan:hover {
	color: #03A89E;
	font-weight: bold;
}

.blue, .blue:hover {
	color: blue;
	font-weight: bold;
}

.violet, .violet:hover {
	color: #a0a;
	font-weight: bold;
}

.orange, .orange:hover {
	color: #FF8C00;
	font-weight: bold;
}

.red, .red:hover {
	color: red;
	font-weight: bold;
}

.super-red, .super-red:hover {
	color: gray;
	font-weight: bold;
}


/* FOR COMMENT */
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}

.green-icon {
  color: green;
}

.gray-icon {
  color: gray;
}
