<nav class="navbar navbar-inner navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="home">
				<font color="white">Free Contest</font>
			</a>
		</div>
		<div class="collapse navbar-collapse" uib-collapse="!isNavCollapsed">
			<ul class="nav navbar-nav">
				<li ng-class="{active: curUrl == 'home'}">
					<a href="home">Trang chủ</a>
				</li>
				<li ng-class="{active: curUrl == 'contests'}">
					<a href="contests">Contest</a>
				</li>
				<li ng-class="{active: curUrl == 'ranking'}">
					<a href="rating">Rating (Beta)</a>
				</li>

				<!-- contact -->
				<li>
					<a href="https://www.facebook.com/kc97blf/" target="_blank">Free Contest trên Facebook</a>
				</li>
				<li>
					<a href="https://info.freecontest.xyz/">Free Contest Info <span class="label label-primary">New</span></a>
				</li>
				<!-- <li>
					<a href="https://sites.google.com/site/kc97blf/" target="_blank">Google Site của Free Contest</a>
				</li> -->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="!logined" ng-class="{active: curUrl == 'login'}">
					<a ng-href="login">Đăng nhập</a>
				</li>
				<li ng-show="!logined" ng-class="{active: curUrl == 'register'}">
					<a href="register">Đăng ký</a>
				</li>

				<!-- for logined -->
				<li ng-class="{active: curUrl == 'usermanager' || curUrl == 'postmanager' || curUrl == 'addcontest'}" ng-show="logined && user.role == 'admin'" class="dropdown" uib-dropdown>
					<a role="button" class="dropdown-toggle" uib-dropdown-toggle>
						Admin <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li ng-show="logined && user.role == 'admin'">
							<a href="admin/add/contest">Thêm contest</a>
						</li>
						<li ng-show="logined && user.role == 'admin'">
							<a href="admin/user/manager">Quản lý người dùng</a>
						</li>
						<li ng-show="logined && user.role == 'admin'">
							<a href="admin/post">Đăng bài</a>
						</li>
					</ul>
				</li>
				<li ng-class="{active: curUrl == 'update'}" ng-show="logined" class="dropdown" uib-dropdown>
					<a role="button" class="dropdown-toggle" uib-dropdown-toggle>
						<strong>{{ user.name }}</strong> ({{ user.username }}) <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="user/{{ user.username }}">Trang cá nhân</a></li>
						<li><a href="updateInformation">Cập nhật thông tin</a></li>
						<li class="divider"></li>
						<li><a ng-click="logOut()" href="javascript:void(0)">Đăng xuất</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container" style="padding-top: 80px;">
	<div ng-class="{proloader: routingChange}"></div>
	<div ng-view></div>
	<div class="col-sm-12 text-center" style="margin-bottom: 50px; font-weight: bold;">
		<hr>
		<a target="_blank" href="https://sites.google.com/site/kc97blf/home/about">Thông tin</a> |
		<a target="_blank" href="https://sites.google.com/site/kc97blf/home/tac-gia">Tác giả</a> |
		<a target="_blank" href="https://sites.google.com/site/kc97blf/home/huong-dan-lam-bai-tren-he-thong-cms">Hướng dẫn làm bài trên hệ thống CMS</a> |
		<a target="_blank" href="https://sites.google.com/site/kc97blf/home/cac-cong-viec-trong-nhom-tnv-free-contest">Công việc của TNV Free Contest</a> |
		<a target="_blank" href="https://sites.google.com/site/kc97blf/home/tinh-nguyen-vien-2018">Tình nguyện viên 2018</a> |
		<a target="_blank" href="https://sites.google.com/site/kc97blf/home/tinh-nguyen-vien-2017">Tình nguyện viên 2017</a>
		<br><br>
		Free Contest 2018 Backend quản lý bởi <a target="_blank" href="https://sites.google.com/site/kc97blf/home/tinh-nguyen-vien-2018/ho-tuan-kiet">Hồ Tuấn Kiệt</a>.<br>
		Free Contest 2018 Frontend, Backend viết bởi <a target="_blank" href="https://sites.google.com/site/kc97blf/home/tinh-nguyen-vien-2018/nguyen-minh-huy">Nguyễn Minh Huy</a> với sự giúp đỡ của <a target="_blank" href="https://sites.google.com/site/kc97blf/home/tinh-nguyen-vien-2018/ho-tuan-kiet">Hồ Tuấn Kiệt</a>.<br>
		Bản quyền 2018 của Free Contest Inc. Mọi quyền được bảo lưu.
	</div>
</div>
